<footer class="site-footer">
  <div class="container">
    <div class="row" >
      <div class="col-md-3" >
        <div class="widget">
          <h3 class="widget-title">Social Media</h3>
          <p></p>
          <div class="social-links">
            <a href="https://www.facebook.com/towernailsalon/"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3" >
        <div class="widget contact-widget">
          <h3 class="widget-title">Contact</h3>
          <div class="contact-info">
            <address>
              <img src="public/images/icon-map-small.png" class="icon"/>
				<div>
					<p><strong>Shop 2B, Tower Junction Village</strong> </p>
					<p>2/4 Troup Drive, Addington, Christchurch, 8011,NZ</p>
				</div>
            </address>
            <a href="mailto:contact@companyname.com" class="mail"><img src="public/images/icon-envelope-small.png" class="icon"/>booking@towerbeauty.co.nz</a>
            <a href="tel:+64 3 9725437" class="phone"><img src="public/images/icon-phone-small.png" class="icon"/>(+64) 3 9725437</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="widget">
          <h3 class="widget-title">Newsletter</h3>
          <p>I love your beauty. Let's keep in touch... </p>
          <form action="#" class="subscribe-form">
            <input type="email" placeholder="Enter our email..."/>
            <input class="newsletter-signup" type="submit" value="Sign up"/>
          </form>
        </div>
      </div>
    </div>

  </div>
</footer>
